---
---
@charset "utf-8";

$background: #202020;

$primary: lightgrey;
$accent1: rgb(208, 62, 6);
$accent2: rgb(109, 150, 7);
$accent-content: $accent2;

$heading-font: monospace;
$font-stack: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

$spacing: 8px;

@import "layout";
